<img class="instagram-thumbnail__image" {{bind-attr src="content.images.thumbnail.url"}} alt="instagram low_resolution">
{{#if isActive}}
  {{#if content.likeCount}}
    <span class="instagram-thumbnail__like-count">{{content.likeCount}}&hearts;</span>
  {{else}}
    <span class="instagram-thumbnail__like-count">&#9785;</span>
  {{/if}}
{{/if}}
